body{
    padding-top: 50px;
}

#main{
    padding-top: 20px;
    padding-bottom: 20px;
}

#main .row>div>img{
    width: 180px;
}

#main .row > div >p{
    text-align: left;
    text-indent: 8%;
}


#main .container-fluid .row div{
    margin-bottom: 20px;
}



.tab-content  .row .col-md-8{
    margin-top: 30px;

}

.tab-content  .row .col-md-4 img{
    margin-top: 30px;
}

.tab-content  .row .col-md-8 h3{
    color: red;
}
.tab-content  .row .col-md-8 h3 span{
    color: purple;
    font-size: 15px;
}
.carousel-inner .item img{
    height: 360px;
}

/*媒体查询*/
@media screen  and  (max-width: 750px){
    .tab-content  .row .col-md-8{
        margin-top: 30px;
    }
}

@media screen  and  (min-width: 750px){
    .tab-content  .row .col-md-8{
        margin-top: 120px;
    }
}


